
body{
    background-color: #FFA9A9;
    color: #4A1A1A;
}

header{
    background-color: #4A1A1A;
}

h1{
    color: #FFA9A9;
}

span{
    font-size: 1.2em;
}

.innerBox{
    margin: 20px;
    padding: 20px;
}

footer{
    background-color: #4A1A1A;
}

.iconLinks:hover .icons{
    border: 1px #FFA9A9 solid;
    border-radius: 10px;
}