body{
    background-color: #FFA9A9;
    color: #4A1A1A;
}

header{
    background-color: #4A1A1A;
}

h1{
    color: #FFA9A9;
}

span{
    font-size: 1.2em;
}

::placeholder{
    color: #8E4A56 !important;
}
.row{
    justify-content: center;
}
.btn{
    background-color: #FFDADA;
    border-color: #FFDADA;
    color: #4A1A1A;
}

.btn:hover, .btn:focus, .btn:active{
    background-color: #FA423C !important;
    border-color: #FA423C !important;
    color: #000 !important;
}

.innerBox{
    margin: 20px;
    padding: 20px;
    background-color: #4A1A1A;
    color: #FFA9A9;
    border-radius: 10px;
}

footer{
    background-color: #4A1A1A;
}

.iconLinks:hover .icons{
    border: 1px #FFA9A9 solid;
    border-radius: 10px;
}
@media (max-width: 640px){
    ul li:nth-child(3){
        border-bottom: 2px solid;
    }
}