body{
    background-color: #F3D0FF;
    color: #4A2744;
}

header{
    background-color: #4A2744;
}

h1{
    color: #F3D0FF;
}

.innerBox{
    align-items: center;
    display: flex;
    margin-top: 30px;

}

.about-me-text{
    margin: 20px;
    padding: 20px;
}

#picture-of-me{
    border: #4A2744 10px solid;
    border-radius: 100%;
    height: auto;
    width: 25%;
}

footer{
    background-color: #4A2744;
}

.iconLinks:hover .icons{
    border: 1px #F3D0FF solid;
    border-radius: 10px;
}