body{
    background-color: #CBFFFE;
    color: #2A314A;
}

header{
    background-color: #2A314A;
}

h1{
    color: #CBFFFE;
}
a:hover>div>div, a:focus>div>div, a:active>div>div{
    font-weight: bolder;
}

.btn-link {
    color: #CBFFFE;
}

.btn-link:hover, .btn-link:focus{
    color: #77D4EC;
    text-decoration: none;
    font-weight: bolder;
}

.outerBox{
    display: flex;
    flex-direction: column;
    align-content: center;
}

.card{
    background-color: #2A314A;
    color: #CBFFFE;
    min-width: 730px;
}

.space-hunt-inner{
    height: 400px;
    width: 730px;
    margin: 10px;
    justify-content: center;
}

.space-hunt-image{
    height: 400px;
    width: 730px;
}

.airline-inner{
    height: 400px;
    width: 249px;
    justify-content: center;
}

.airline-image{
    height: 400px;
    width: 249px;
}

footer{
    background-color: #2A314A;
}

.iconLinks:hover .icons{
    border: 1px #CBFFFE solid;
    border-radius: 10px;
}
@media (max-width: 640px){
    ul li:nth-child(2){
        order:3;
        border-bottom: 2px solid;
    }
    #airline-carousel, #space-hunt-carousel{
        display: none;
    }
    .card{
        min-width: 0px;
    }
}
@media (min-width: 641px) and (max-width: 800px){
    .card{
        min-width: 375px;
    }
    .space-hunt-inner{
        height: 200px;
        width: 365px;
    }
    
    .space-hunt-image{
        height: 200px;
        width: 365px;;
    }
    
    .airline-inner{
        height: 400px;
        width: 249px;
    }
    
    .airline-image{
        height: 400px;
        width: 249px;
    }
}