
body{
    background-color: #CBFFFE;
    color: #2A314A;
}

header{
    background-color: #2A314A;
}

h1{
    color: #CBFFFE;
}

a:hover>div>div, a:focus>div>div, a:active>div>div{
    font-weight: bolder;
}

.innerBox{
    margin: 20px;
    padding: 20px;
}

.btn-link {
    color: #CBFFFE;
}

.btn-link:hover{
    color: #77D4EC;
    text-decoration: none;
    font-weight: bolder;
}

.btn-link:focus{
    text-decoration: none;
}

.card{
    background-color: #2A314A;
    color: #CBFFFE;
}

.space-hunt-inner{
    height: 400px;
    width: 730px;
    justify-content: center;
}

.space-hunt-image{
    height: 400px;
    width: 730px;
}

.airline-inner{
    height: 400px;
    width: 249px;
    justify-content: center;
}

.airline-image{
    height: 400px;
    width: 249px;
}

footer{
    background-color: #2A314A;
}

.iconLinks:hover .icons{
    border: 1px #CBFFFE solid;
    border-radius: 10px;
}
